body {
    
}

#immigration1 {
    float: left;
    width: 8.35vw;
    height: 14.62vh;
    top: 30%;
    left: 22%;
    position: absolute;
}

#immigration2 {
    width: 8.35vw;
    height: 14.62vh;
    position: absolute;
    float: right;
    right: 19%;
    top: 32%;
}

#drag1 {
    width: 8.35vw;
    height: 14.62vh;
}

#china {
    position:relative;
    width: 34.82vw;
    height: 62.13vh;
}

#sf {
    position: relative;
    width: 34.82vw;
    height: 62.13vh;
    float: right;
}

#arrow {
    width: 25vw;
    height: 27.86vw;
}
#dh {
  width: 20vw;
    height: 9.5vw;
}
#american {
    float: left;
    font-size: 3vw;
}
#chinese {
    float: right;
    font-size: 3vw;
}
#math {
    height: 6vw;
    width: 10vw;
}
#drawing {
    border: 1px solid black;
}
#comments {
    width: 40vw;
    height: 5vw;
}
