#immigration1 {
    float: left;
    width: 8.35vw;
    height: 14.62vh;
    top: 20%;
    left: 20%;
    position: absolute;
}

#immigration2 {
    width: 8.35vw;
    height: 14.62vh;
    position: absolute;
    float: right;
    right: 20%;
    top: 22%;
}

#drag1 {
    width: 8.35vw;
    height: 14.62vh;
}

#china {
    position:relative;
    width: 34.82vw;
    height: 62.13vh;
}

#sf {
    position: relative;
    width: 34.82vw;
    height: 62.13vh;
    float: right;
}

#arrow {
    width: 25vw;
    height: 27.86vw;
}
#test {
  width: 100px;
}
